<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lhjx.versionupdate">

    <!--compat android 8.0-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application>
        <service
            android:name="com.passon.versionupdate.DownloadService"
            android:exported="false">
        </service>

        <provider
            android:name="com.passon.versionupdate.UpdateFileProvider"
            android:authorities="com.passon.versionupdate.versionProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_file_paths"/>
        </provider>

    </application>

</manifest>