<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.njfae.pushlibrary">


    <application>

        <!-- xxx.xx.xx为CP自定义的广播名称，比如: com.huawei.hmssample. HuaweiPushRevicer -->
        <receiver android:name="com.njfae.pushlibrary.hw.MyReceiver">
            <intent-filter>

                <!-- 必须,用于接收TOKEN -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION"/>
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE"/>
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK"/>
                <!-- 可选，查看PUSH通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE"/>
            </intent-filter>
        </receiver>


        <!--&lt;!&ndash; 默认的自定义广播接收器，用于自定义处理魅族push消息广播，receiver的name为自定义的广播接收类 start &ndash;&gt;-->
        <!--<receiver android:name=".mz.MzReceiver">-->
            <!--<intent-filter>-->
                <!--&lt;!&ndash; 接收push消息 &ndash;&gt;-->
                <!--<action android:name="com.meizu.flyme.push.intent.MESSAGE"/>-->
                <!--&lt;!&ndash; 接收register消息&ndash;&gt;-->
                <!--<action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK"/>-->
                <!--&lt;!&ndash; 接收unregister消息&ndash;&gt;-->
                <!--<action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK"/>-->

                <!--<action android:name="com.meizu.c2dm.intent.REGISTRATION"/>-->
                <!--<action android:name="com.meizu.c2dm.intent.RECEIVE"/>-->

                <!--<category android:name="com.wz.wenjf"></category>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--小米 push-->
        <receiver
            android:name=".xiaomi.XiaoMiReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>
